<div class="form-container">
  <form novalidate (ngSubmit)="doSearch()">

    <mat-form-field>
      <input matInput required [(ngModel)]="startDate" type="date" placeholder="Start date" name="startDate">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Start destination</mat-label>
      <mat-select [(value)]="startDestination">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let d of destinations" value="{{d.address}}">{{d.address}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput required [(ngModel)]="endDate" type="date" placeholder="End date" name="endDate">
    </mat-form-field>

    <mat-form-field>
      <mat-label>End destination</mat-label>
      <mat-select [(value)]="endDestination">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let d of destinations" value="{{d.address}}">{{d.address}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Car type</mat-label>
      <mat-select [(value)]="carType">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let t of types" value="{{t}}">{{t}}</mat-option>
      </mat-select>
    </mat-form-field>



    <mat-form-field>
      <input matInput required [(ngModel)]="numOfSeats" type="number" placeholder="Number of seats" name="numOfSeats">
    </mat-form-field>

    <button mat-button>SEARCH CARS</button>


    <datalist id="destinations">
      <option *ngFor="let d of destinations" value="{{d.address}}">
    </datalist>

    <datalist id="carType">
      <option *ngFor="let t of types" value="{{t}}">
    </datalist>
  </form>
</div>
