<div class="form-container">
  <form novalidate (ngSubmit)="doSearch()">
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="username" name="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="email" name="email">
      </mat-form-field>
      <mat-form-field *ngIf="isAdmin">
        <mat-select [(value)]="selected_type">
          <mat-option *ngFor="let type of types"  value="{{type}}">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <button mat-button >Search</button>
  </form>
</div>
