<mat-card *ngIf="profile">
  <mat-card-header>
    <mat-card-title>{{profile.name}}</mat-card-title>
    <mat-card-subtitle>{{profile.city}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-avatar src="{{picturePath}}" alt="Sorry! Image not available at this time" (error)="changePicPath()">
  <mat-card-content>
    <h4>Email: </h4>
    <p>{{profile.email}}</p>
  </mat-card-content>
</mat-card>

<div [hidden]="profile" class="mat-spinner-container">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
