<mat-card fxLayout="row" fxLayoutAlign="center center" *ngIf="!waiting">

  <mat-card-content fxLayout="column">
    <form novalidate>
        <mat-form-field>
          <input matInput required [(ngModel)]="username" placeholder="Username" name="username">
        </mat-form-field>

        <mat-form-field>
          <input matInput required [(ngModel)]="password" type="password" placeholder="Password" name="password">
        </mat-form-field>
    <span mat-line></span>

      <div><button style="width: 100%" mat-button (click)="login()">Log in</button></div></form>
  </mat-card-content>


  <mat-card-actions>

  </mat-card-actions>
</mat-card>

<div [hidden]="!waiting" class="mat-spinner-container">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
