<div class="form-container">
  <form (ngSubmit)="doSearch()">

    <mat-form-field>
      <input matInput [(ngModel)]="startDest" placeholder="Start Destination" name="city">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="endDest" placeholder="End Destination" name="country">
    </mat-form-field>

    <mat-form-field>
      <input  matInput type="date" [(ngModel)]="startDate" placeholder="Start Date" name="country">
    </mat-form-field>

    <mat-form-field>
      <input  matInput type="date" [(ngModel)]="endDate" placeholder="End Date" name="country">
    </mat-form-field>

    <button mat-button>SEARCH FLIGHTS</button>
  </form>
</div>
