<div *ngIf="new_aservice">
  <form novalidate>
    <mat-form-field>
      <input matInput required [(ngModel)]="new_aservice.name" placeholder="Name" name="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" required [(ngModel)]="new_aservice.price" placeholder="Price" name="price">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" required [(ngModel)]="new_aservice.discount" placeholder="Discount" name="discount">
    </mat-form-field>
    <mat-card-actions>
      <button mat-button (click)="addSerivceClicked()">ADD SERVICE</button>
    </mat-card-actions>
  </form>
</div>

<div [hidden]="new_aservice">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
