<mat-card>
  <mat-card-title>{{flight.id}}</mat-card-title>
  <form novalidate>
    <mat-card-content fxLayout="column" *ngIf="!readOnly">
      <mat-form-field>
        <input matInput type="number" required placeholder="Price" [(ngModel)]="flight.ticketPrice" name="price">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" required placeholder="Start time" [(ngModel)]="flight.startTime" name="starttime">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" required placeholder="End time" [(ngModel)]="flight.endTime" name="endtime">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" required placeholder="Length" [(ngModel)]="flight.length" name="length">
      </mat-form-field>
    </mat-card-content>
    <mat-card-content fxLayout="column" *ngIf="readOnly">
      <mat-form-field>
        <input matInput type="number" required placeholder="Price" [(ngModel)]="flight.ticketPrice" name="price">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" required placeholder="Start time" [(ngModel)]="flight.startTime" name="starttime">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" required placeholder="End time" [(ngModel)]="flight.endTime" name="endtime">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" required placeholder="Length" [(ngModel)]="flight.length" name="length">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goBack()">Back</button>
      <button mat-button *ngIf="!readOnly" (click)="onSaveClick()">Save</button>
      <button mat-button *ngIf="!readOnly" (click)="onDeleteClick()">Delete</button>
      <button mat-button [routerLink]="['/seats', flight.id]">Avaliable seats</button>
    </mat-card-actions>
  </form>
</mat-card>
