<script>
  var global = global || window;
</script>

<div class="content"
     fxLayout="row"
     fxLayout.xs="column"
     fxFlexFill>

  <div fxFlex="30" fxFlex.xs="55">
    <mat-card id="unregistered" *ngIf="!type">
      <mat-card-content fxLayout="column">
        <img mat-card-image src="../assets/images/logo.png">
        <button mat-button routerLink="/airline" routerLinkActive="active">AIRLINES</button>
        <button mat-button routerLink="/hotels" routerLinkActive="active">HOTELS</button>
        <button mat-button routerLink="/rentacar" routerLinkActive="active">RENT A CAR SERVICES</button>
        <button mat-button routerLink="/register" routerLinkActive="active">REGISTRATION</button>
        <button mat-button routerLink="/login" routerLinkActive="active">LOGIN</button>
      </mat-card-content>
    </mat-card>

    <mat-card id="registered" *ngIf="type === 'regUser'">
      <mat-card-content fxLayout="column">
        <img mat-card-image src="../assets/images/logo.png">
        <button mat-button routerLink="/airline" routerLinkActive="active">AIRLINES</button>
        <button mat-button routerLink="/flights" routerLinkActive="active">FLIGHTS</button>
        <button mat-button routerLink="/hotels" routerLinkActive="active">HOTELS</button>
        <button mat-button routerLink="/rentacar" routerLinkActive="active">RENT A CAR SERVICES</button>
        <button mat-button routerLink="/quickflight" routerLinkActive="active">QUICK FLIGHTS</button>
        <button mat-button routerLink="/profile" routerLinkActive="active">PROFILE</button>
        <button mat-button routerLink="/profiles" routerLinkActive="active">PROFILES</button>
        <button mat-button routerLink="/friends" routerLinkActive="active">FRIENDS</button>
        <button mat-button routerLink="/myreservations" routerLinkActive="active">MY RESERVATIONS</button>
      </mat-card-content>
    </mat-card>

    <mat-card id="airlineAdmin" *ngIf="type === 'airlineAdmin'">
      <mat-card-content fxLayout="column">
        <img mat-card-image src="../assets/images/logo.png">
        <button mat-button routerLink="/airline" routerLinkActive="active">AIRLINES</button>
        <button mat-button routerLink="/flights" routerLinkActive="active">FLIGHTS</button>
        <button mat-button routerLink="/quickflight" routerLinkActive="active">QUICK FLIGHTS</button>
        <button mat-button routerLink="/hotels" routerLinkActive="active">HOTELS</button>
        <button mat-button routerLink="/rentacar" routerLinkActive="active">RENT A CAR SERVICES</button>
        <button mat-button routerLink="/profile" routerLinkActive="active">PROFILE</button>
      </mat-card-content>
    </mat-card>

    <mat-card id="hotelAdmin" *ngIf="type === 'hotelAdmin'">
      <mat-card-content fxLayout="column">
        <img mat-card-image src="../assets/images/logo.png">
        <button mat-button  [routerLink]="['/hoteldetail', profile.hotelId]" routerLinkActive="active">MY HOTEL</button>
        <button mat-button routerLink="/airline" routerLinkActive="active">AIRLINES</button>
        <button mat-button routerLink="/hotels" routerLinkActive="active">HOTELS</button>
        <button mat-button routerLink="/rentacar" routerLinkActive="active">RENT A CAR SERVICES</button>
        <button mat-button routerLink="/profile" routerLinkActive="active">PROFILE</button>
      </mat-card-content>
    </mat-card>

    <mat-card id="racAdmin" *ngIf="type === 'racAdmin'">
      <mat-card-content fxLayout="column">
        <img mat-card-image src="../assets/images/logo.png">
        <button mat-button [routerLink]="['/rentdetail', profile.rACServiceId]" routerLinkActive="active">MY RENT A CAR SERVICE</button>
        <button mat-button routerLink="/airline" routerLinkActive="active">AIRLINES</button>
        <button mat-button routerLink="/hotels" routerLinkActive="active">HOTELS</button>
        <button mat-button routerLink="/rentacar" routerLinkActive="active">RENT A CAR SERVICES</button>
        <button mat-button routerLink="/cars" routerLinkActive="active">CARS</button>
        <button mat-button routerLink="/profile" routerLinkActive="active">PROFILE</button>
      </mat-card-content>
    </mat-card>

    <mat-card id="sysadmin" *ngIf="type === 'sysAdmin'">
      <mat-card-content fxLayout="column">
        <img mat-card-image src="../assets/images/logo.png">
        <button mat-button routerLink="/airline" routerLinkActive="active">AIRLINES</button>
        <button mat-button routerLink="/hotels" routerLinkActive="active">HOTELS</button>
        <button mat-button routerLink="/rentacar" routerLinkActive="active">RENT A CAR SERVICES</button>
        <button mat-button routerLink="/users" routerLinkActive="active">USERS</button>
        <button mat-button routerLink="/discounts" routerLinkActive="active">DISCOUNTS</button>
        <button mat-button routerLink="/profile" routerLinkActive="active">PROFILE</button>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="70">
    <router-outlet></router-outlet>
  </div>

</div>
