<div class="form-container" *ngIf="type=='sysAdmin'">
  <form novalidate (ngSubmit)="addRACService()">
    <mat-form-field>
      <input matInput required [(ngModel)]="new_racservice.name" placeholder="Name" name="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput required [(ngModel)]="new_racservice.address" placeholder="Address" name="address">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput required [(ngModel)]="new_racservice.description" placeholder="Description" name="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput required type="number" [(ngModel)]="new_racservice.latitude" placeholder="latitude" name="latitude"/>
    </mat-form-field>


    <mat-form-field>
      <input matInput required type="number" [(ngModel)]="new_racservice.longitude" placeholder="longitude" name="longitude"/>
    </mat-form-field>


    <button mat-button>ADD RACService</button>
    <p>*required</p>
  </form>
</div>
