<div class="form-container">
  <form (ngSubmit)="doSearch()">

    <mat-form-field>
      <input matInput list="destinationsCity" [(ngModel)]="name" placeholder="City" name="city">
    </mat-form-field>

    <mat-form-field>
      <input matInput list="destinationsCountry" [(ngModel)]="country" placeholder="Country" name="country">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="racname" placeholder="Rent a car service name" name="racname">
    </mat-form-field>

    <mat-form-field>
      <input required matInput type="date" [(ngModel)]="startDate" placeholder="Start date" name="startDate">
    </mat-form-field>

    <mat-form-field>
      <input required matInput type="date" [(ngModel)]="endDate" placeholder="End date" name="endDate">
    </mat-form-field>

    <datalist id="destinationsCity">
      <option *ngFor="let d of destinations" value="{{d.name}}">
    </datalist>

    <datalist id="destinationsCountry">
      <option *ngFor="let d of destinations" value="{{d.country}}">
    </datalist>
    <button mat-button>SEARCH RAC SERVICES</button>
  </form>
  <button mat-button (click)="showAll()">SHOW ALL</button>
</div>
