<mat-card *ngIf="profile_new">
  <mat-card-title>{{profile_new.name}}</mat-card-title>
  <form novalidate>
    <mat-card-content fxLayout="column" *ngIf="!readOnly">
      <mat-form-field>
        <input matInput required placeholder="Name" [(ngModel)]="profile_new.name" name="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Description" [(ngModel)]="profile_new.description" name="description">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Address" [(ngModel)]="profile_new.address" name="address">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Latitude" [(ngModel)]="profile_new.latitude" name="latitude">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Longitude" [(ngModel)]="profile_new.longitude" name="longitude">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Rating" [(ngModel)]="profile_new.rating" name="rating">
      </mat-form-field>
    </mat-card-content>
    <mat-card-content fxLayout="column" *ngIf="readOnly">
      <mat-form-field>
        <input matInput required placeholder="Name" [(ngModel)]="profile_new.name" readonly name="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Description" [(ngModel)]="profile_new.description" readonly name="description">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Address" [(ngModel)]="profile_new.address" readonly name="address">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Latitude" [(ngModel)]="profile_new.latitude" readonly name="latitude">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Longitude" [(ngModel)]="profile_new.longitude" readonly name="longitude">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Rating" [(ngModel)]="profile_new.rating" readonly name="rating">
      </mat-form-field>

      <agm-map [latitude]="profile_new.latitude" [longitude]="profile_new.longitude">
        <agm-marker [latitude]="profile_new.latitude" [longitude]="profile_new.longitude"></agm-marker>
      </agm-map>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goBack()">Back</button>
      <button mat-button (click)="addServClicked()" >Additinal services</button>
      <button mat-button *ngIf="readOnly && combinedActive" (click)="makeReservationClicked()">Make reservation</button>
      <button mat-button *ngIf="!readOnly || combinedActive" [routerLink]="['/quickreservations', profile_new.id]">Quick reservations</button>
      <button mat-button *ngIf="!readOnly" (click)="onSaveClick()">Save changes</button>
      <button mat-button *ngIf="!readOnly" (click)="onDeleteClick()">Delete hotel</button>
      <button mat-button [routerLink]="['/hotelreports', profile_new.id]">Reports</button>
      <button mat-button *ngIf="sysAdmin" [routerLink]="['/assignHotelAdmin', profile_new.id]">Assign Admin</button>
    </mat-card-actions>
  </form>
  <app-room-add-form [hotel]="profile_new" *ngIf="!readOnly"></app-room-add-form>
  <app-room-search *ngIf="readOnly" [hotelid]="profile_new.id"></app-room-search>
  <mat-card>
    <mat-card-content>
      <mat-grid-list cols="2">
        <mat-grid-tile *ngFor="let room of profile_new.rooms">
          <app-room-profile [room]="room"  [routerLink]="['/roomdetail', room.id]"></app-room-profile>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</mat-card>

<div [hidden]="profile_new" class="mat-spinner-container">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
