
<button mat-button routerLink="/hotels" style="width: 40%; height: 200px; margin: 5%; border: 4px solid #dddddd;">Make a hotel reservation</button>
<button mat-button routerLink="/rentacar" style="width: 40%; height: 200px; margin: 5%; border: 4px solid #dddddd;">Make a car reservation</button>

<mat-card>
  <mat-card-header><mat-card-title>Reservation info</mat-card-title></mat-card-header>

  <mat-card-content>
    <hr>
    <div fxLayout="row">
      <div fxFlex="30" fxLayout="column">
        <div *ngFor="let fr of combinedReservation.mFlightReservations" style="margin: 1%; width: 100%; height: 100%;">
          <mat-card>
            <mat-card-header><mat-card-title>Flight reservation</mat-card-title></mat-card-header>
            <mat-card-content>
              <hr>
              <table>
                <tr>
                  <td>
                    <h4>Airline name: </h4>
                  </td>
                  <td>
                    <label>{{fr.flight.airline.name}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Start destination: </h4>
                  </td>
                  <td>
                    <label>{{fr.flight.startDestination.name}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Start airport name:  </h4>
                  </td>
                  <td>
                    <label>{{fr.flight.airline.name}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>End destination: </h4>
                  </td>
                  <td>
                    <label>{{fr.flight.endDestination.name}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Start date: </h4>
                  </td>
                  <td>
                    <label>{{fr.flight.startTime | date}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>End date: </h4>
                  </td>
                  <td>
                    <label>{{fr.flight.endTime | date}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Flight duration (minutes): </h4>
                  </td>
                  <td>
                    <label>{{fr.flight.length}}</label>
                  </td>
                </tr>
              </table>
              <hr>
              <h4>Price: {{fr.flight.ticketPrice}}$</h4>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div  fxFlex="30" fxLayout="column">
        <div *ngFor="let rr of combinedReservation.mRoomReservations" style="margin: 1%; width: 100%; height: 100%;">
          <mat-card>
            <mat-card-header><mat-card-title>Hotel reservation</mat-card-title></mat-card-header>
            <mat-card-content>
              <hr>
              <table>
                <tr>
                  <td>
                    <h4>Hotel name: </h4>
                  </td>
                  <td>
                    <label>{{rr.room.hotel.name}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Hotel destination: </h4>
                  </td>
                  <td>
                    <label>{{rr.room.hotel.destination.name}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Address:  </h4>
                  </td>
                  <td>
                    <label>{{rr.room.hotel.address}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Start date: </h4>
                  </td>
                  <td>
                    <label>{{rr.startDate}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>End date: </h4>
                  </td>
                  <td>
                    <label>{{rr.endDate}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Room floor: </h4>
                  </td>
                  <td>
                    <label>{{rr.room.floor}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Bed number: </h4>
                  </td>
                  <td>
                    <label>{{rr.room.numOfBeds}}</label>
                  </td>
                </tr>
              </table>
              <hr>
              <h4>Price: {{rr.price}}$</h4>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div  fxFlex="30" fxLayout="column">
        <div *ngFor="let cr of combinedReservation.mCarReservations" style=" margin: 1%; width: 100%; height: 100%;">
          <mat-card>
            <mat-card-header><mat-card-title>Car reservation</mat-card-title></mat-card-header>
            <mat-card-content>
              <hr>
              <table>
                <tr>
                  <td>
                    <h4>Car name: </h4>
                  </td>
                  <td>
                    <label>{{cr.car.brand}} {{cr.car.model}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Rent a car service name: </h4>
                  </td>
                  <td>
                    <label>{{cr.car.rACService.name}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Rent a car destination:  </h4>
                  </td>
                  <td>
                    <label>{{cr.car.rACService.destination.name}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Pick up address: </h4>
                  </td>
                  <td>
                    <label>{{cr.car.rACService.branchOffices[0].address}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Drop off address: </h4>
                  </td>
                  <td>
                    <label>{{cr.car.rACService.branchOffices[0].address}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Start date: </h4>
                  </td>
                  <td>
                    <label>{{cr.startDate}}</label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>End date: </h4>
                  </td>
                  <td>
                    <label>{{cr.endDate}}</label>
                  </td>
                </tr>
              </table>
              <hr>
              <h4>Price: {{cr.price}}$</h4>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>

    <hr>
    <div>
      <h2>Total price: {{totalPrice}}</h2>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onFinish()">Finish reservation</button>
  </mat-card-actions>
</mat-card>


