<div class="form-container" *ngIf="search">
  <form novalidate (ngSubmit)="doSearch()">

    <mat-form-field>
      <input matInput [(ngModel)]="search.name" placeholder="Name" name="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="search.destinationId" placeholder="Destination" name="destination">
    </mat-form-field>

    <button mat-button>SEARCH HOTELS</button>
  </form>
</div>


<div [hidden]="search" class="mat-spinner-container">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
