<mat-card *ngIf="errmsg">
  <mat-card-content>
    <p>{{errmsg}}</p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>{{car.name}}</mat-card-title>

  <form novalidate>
    <mat-card-content fxLayout="column" *ngIf="!readOnly">
      <mat-form-field>
        <input matInput required placeholder="Name" [(ngModel)]="car.name" name="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Brand" [(ngModel)]="car.brand" name="brand">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Model" [(ngModel)]="car.model" name="model">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" required placeholder="Year" [(ngModel)]="car.year" name="year">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" required placeholder="Number of seats" [(ngModel)]="car.numOfSeats" name="numOfSeats">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" required placeholder="Fuel consumption" [(ngModel)]="car.fuelConsumption" name="fuelConsumption">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Car type" [(ngModel)]="car.carType" name="carType">
      </mat-form-field>
    </mat-card-content>
    <mat-card-content fxLayout="column" *ngIf="readOnly">
      <mat-form-field>
        <input matInput required placeholder="Name" [(ngModel)]="car.name" readonly name="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Brand" [(ngModel)]="car.brand" readonly name="brand">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Model" [(ngModel)]="car.model" readonly name="model">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" required placeholder="Year" [(ngModel)]="car.year" readonly name="year">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" required placeholder="Number of seats" [(ngModel)]="car.numOfSeats" readonly name="numOfSeats">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" required placeholder="Fuel consumption" [(ngModel)]="car.fuelConsumption" readonly name="fuelConsumption">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Car type" [(ngModel)]="car.carType" readonly name="carType">
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goBack()">Back</button>
      <button mat-button *ngIf="!readOnly" (click)="onSaveClick()">Save</button>
      <button mat-button *ngIf="!readOnly" (click)="onDeleteClick()">Delete</button>

      <button mat-button *ngIf="reservable" [routerLink]="['/carreserve', car.id]">Make reservation</button>
    </mat-card-actions>
  </form>
</mat-card>
