<mat-card *ngIf="profile_new">
  <mat-card-title>{{profile_new.name}}</mat-card-title>
  <form novalidate>
  <mat-card-content fxLayout="column" *ngIf="!readOnly">
    <app-car-add-form [racService]="profile_new"></app-car-add-form>
    <mat-form-field>
      <input matInput required placeholder="Name" [(ngModel)]="profile_new.name" name="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Description" [(ngModel)]="profile_new.description" name="description">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Address" [(ngModel)]="profile_new.address" name="address">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Latitude" [(ngModel)]="profile_new.latitude" name="latitude">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Longitude" [(ngModel)]="profile_new.longitude" name="longitude">
    </mat-form-field>
  </mat-card-content>
  <mat-card-content fxLayout="column" *ngIf="readOnly">
    <mat-form-field>
      <input matInput required placeholder="Name" [(ngModel)]="profile_new.name" readonly name="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Description" [(ngModel)]="profile_new.description" readonly name="description">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Address" [(ngModel)]="profile_new.address" readonly name="address">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Latitude" [(ngModel)]="profile_new.latitude" readonly name="latitude">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Longitude" [(ngModel)]="profile_new.longitude" readonly name="longitude">
    </mat-form-field>


    <agm-map [latitude]="profile_new.latitude" [longitude]="profile_new.longitude">
      <agm-marker [latitude]="profile_new.latitude" [longitude]="profile_new.longitude"></agm-marker>
    </agm-map>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="goBack()">Back</button>
    <button mat-button *ngIf="!readOnly" (click)="onSaveClick()">Save</button>
    <button mat-button *ngIf="!readOnly" [routerLink]="['/quickCar', profile_new.id]">Quick reservations panel</button>
    <button mat-button *ngIf="readOnly" [routerLink]="['/quickCarView', profile_new.id]">Quick reservations panel</button>
    <button mat-button [routerLink]="['/cars', profile_new.id]">Search cars</button>
    <button mat-button [routerLink]="['/allcars', profile_new.id]">List all cars</button>
  </mat-card-actions>
  </form>

  <app-rac-price-section *ngIf="!readOnly" [racService]="profile_new"></app-rac-price-section>
  <app-rac-branch-office-section *ngIf="!readOnly" [racService]="profile_new"></app-rac-branch-office-section>

  <app-rac-report-section *ngIf="!readOnly" [profile]="profile_new"></app-rac-report-section>
</mat-card>
<div [hidden]="profile_new" class="mat-spinner-container">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
