<mat-card *ngIf="profile_new">
  <mat-card-title>{{profile_new.name}}</mat-card-title>
  <form novalidate>
  <mat-card-content fxLayout="column" *ngIf="!readOnly">
    <app-car-add-form [racService]="profile_new"></app-car-add-form>
    <mat-form-field>
      <input matInput required placeholder="Name" [(ngModel)]="profile_new.name" name="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Description" [(ngModel)]="profile_new.description" name="description">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Address" [(ngModel)]="profile_new.address" name="address">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Latitude" [(ngModel)]="profile_new.latitude" name="latitude">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Longitude" [(ngModel)]="profile_new.longitude" name="longitude">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Rating" [(ngModel)]="profile_new.rating" name="rating">
    </mat-form-field>
  </mat-card-content>
  <mat-card-content fxLayout="column" *ngIf="readOnly">
    <mat-form-field>
      <input matInput required placeholder="Name" [(ngModel)]="profile_new.name" readonly name="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Description" [(ngModel)]="profile_new.description" readonly name="description">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Address" [(ngModel)]="profile_new.address" readonly name="address">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Latitude" [(ngModel)]="profile_new.latitude" readonly name="latitude">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Longitude" [(ngModel)]="profile_new.longitude" readonly name="longitude">
    </mat-form-field>
    <mat-form-field>
      <input matInput required placeholder="Rating" [(ngModel)]="profile_new.rating" readonly name="rating">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="goBack()">Back</button>
    <button mat-button *ngIf="!readOnly" (click)="onSaveClick()">Save</button>
    <button mat-button [routerLink]="['/cars', profile_new.id]">Search cars</button>
    <button mat-button [routerLink]="['/allcars', profile_new.id]">List all cars</button>
  </mat-card-actions>
  </form>
</mat-card>
<div [hidden]="profile_new" class="mat-spinner-container">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
