<mat-card>
  <mat-card-title>Info</mat-card-title>
  <mat-card-content>
    <div><h4>Date created: </h4> <p>{{res.timeStamp | date}}</p></div>
    <div><h4>Start date: </h4> <p>{{res.startDate | date}}</p></div>
    <div><h4>End date: </h4> <p>{{res.endDate | date}}</p></div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Actions</mat-card-title>
  <mat-card-content>
    <div>
      <button mat-button (click)="onCancelClick()" disabled *ngIf="!cancelable">Cancel reservation</button>
      <button mat-button (click)="onCancelClick()" *ngIf="cancelable">Cancel reservation</button>
      <hr>
      <p>Room rating</p>
      <bar-rating [(rate)]="resc.roomRate" [max]="4" [theme]="'horizontal'" [showText]="true" [readOnly]="res.roomRate != -1"
                  [titles]="['Bad', 'Mediocre' , 'Good', 'Awesome']"></bar-rating>
      <hr>
      <p>Hotel rating</p>
      <bar-rating [(rate)]="resc.hotelRate" [max]="4" [theme]="'horizontal'" [showText]="true" [readOnly]="res.hotelRate != -1"
                  [titles]="['Bad', 'Mediocre' , 'Good', 'Awesome']"></bar-rating>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="centered" (click)="onSave()" *ngIf="res.roomRate == -1 && res.hotelRate == -1">Save</button>
  </mat-card-actions>
</mat-card>
