<mat-card>
  <mat-card-title>Info</mat-card-title>
  <mat-card-content>
    <div><h4>Date created: </h4> <p>{{res.timeStamp | date}}</p></div>
    <div><h4>Start date: </h4> <p>{{res.startDate | date}}</p></div>
    <div><h4>End date: </h4> <p>{{res.endDate | date}}</p></div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Actions</mat-card-title>
  <mat-card-content>
    <div>
      <button mat-button (click)="onCancelClick()" disabled *ngIf="!cancelable">Cancel reservation</button>
      <button mat-button (click)="onCancelClick()" *ngIf="cancelable">Cancel reservation</button>
      <hr>
      <p>Car rating</p>
      <bar-rating [(rate)]="res.carRate" [max]="4" [theme]="'horizontal'" [showText]="true" [readOnly]="res.carRate != -1"
                  [titles]="['Bad', 'Mediocre' , 'Good', 'Awesome']"></bar-rating>
      <hr>
      <p>Rent a car service rating</p>
      <bar-rating [(rate)]="res.racRate" [max]="4" [theme]="'horizontal'" [showText]="true" [readOnly]="res.racRate != -1"
                  [titles]="['Bad', 'Mediocre' , 'Good', 'Awesome']"></bar-rating>
    </div>
  </mat-card-content>
</mat-card>
