<div class="form-container">
  <form novalidate (ngSubmit)="doSearch()">
    <mat-form-field>
      <input matInput [(ngModel)]="search.id"  placeholder="ID" name="id" >
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="search.brand" placeholder="Brand" name="brand">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="search.model" placeholder="Model" name="model">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Car type" [(ngModel)]="search.carType" name="type">
        <mat-option value="" selected>All</mat-option>
        <mat-option value="cabrio">Cabrio</mat-option>
        <mat-option value="hatchback">Hatchback</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button>SEARCH CARS</button>
  </form>
</div>
