<mat-card>
  <mat-card-content>
    <span></span>

    <table class="seats">
      <tr *ngFor="let row of rows">
        <td *ngFor="let col of cols">
          <div *ngIf="seatExists(row, col) && seatTaken(row, col)" ngClass="taken"></div>
          <div *ngIf="seatExists(row, col) && !seatTaken(row, col)" ngClass="nonTaken" (click)="seatClicked(row, col)"></div>
        </td>
      </tr>
    </table>
    <span></span>
    <p *ngIf="msg">{{msg}}</p>
    <button mat-button (click)="reserveSeats()" [routerLink]="['/flightinvite', flight.id]" >Fill information about passengers</button>

  </mat-card-content>
</mat-card>
